<li style='font-size: 12px' data-name='{{name.common}}'><img
    width='20px'
    src='{{flags.svg}}'
    alt=''
  />
  <span style='font-size: 20px'>{{name.common}}</span>
  |
  {{name.official}}</li>